<a href="https://colab.research.google.com/github/dhirajrm/Data-Engineering-With-Pyspark/blob/git/Bank's_Transactions_Fraud_detection_EDA_%26_Insights_using_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('bank_fraud_detection').getOrCreate()

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType

schema = StructType([StructField('TransactionID', StringType(), True),
                     StructField('AccountID', StringType(), True),
                     StructField('TransactionAmount', FloatType(), True),
                     StructField('TransactionDate', TimestampType(), True),
                     StructField('IP Address', StringType(), True),
                     StructField('MerchantID', StringType(), True),
                     StructField('Channel', StringType(), True),
                     StructField('CustomerAge', StringType(), True),
                     StructField('CustomerOccupation', StringType(), True),
                     StructField('TransactionDuration', IntegerType(), True),
                     StructField('LoginAttempts', IntegerType(), True),
                     StructField('AccountBalance', FloatType(), True),
                     StructField('PreviousTransactionDate', IntegerType(), True)])

In [ ]:
bank_trans = spark.read.csv('/content/bank_transactions_data_2.csv',header = True,schema = schema)

In [ ]:
bank_trans.show()

+-------------+---------+-----------------+-------------------+----------+-------------+-------+---------------+------------------+-------------------+-------------+--------------+-----------------------+
|TransactionID|AccountID|TransactionAmount|    TransactionDate|IP Address|   MerchantID|Channel|    CustomerAge|CustomerOccupation|TransactionDuration|LoginAttempts|AccountBalance|PreviousTransactionDate|
+-------------+---------+-----------------+-------------------+----------+-------------+-------+---------------+------------------+-------------------+-------------+--------------+-----------------------+
|     TX000001|  AC00128|            14.09|2023-04-11 16:29:14|     Debit|    San Diego|D000380| 162.198.218.92|              M015|               NULL|           70|          NULL|                     81|
|     TX000002|  AC00455|           376.24|2023-06-27 16:44:19|     Debit|      Houston|D000051|    13.149.61.4|              M052|               NULL|           68|          NULL|                    141|
|     TX000003|  AC00019|           126.29|2023-07-10 18:16:08|     Debit|         Mesa|D000235| 215.97.143.157|              M009|               NULL|           19|          NULL|                     56|
|     TX000004|  AC00070|            184.5|2023-05-05 16:32:11|     Debit|      Raleigh|D000187| 200.13.225.150|              M002|               NULL|           26|          NULL|                     25|
|     TX000005|  AC00411|            13.45|2023-10-16 17:51:24|    Credit|      Atlanta|D000308|   65.164.3.100|              M091|               NULL|           26|          NULL|                    198|
|     TX000006|  AC00393|            92.15|2023-04-03 17:15:01|     Debit|Oklahoma City|D000579| 117.67.192.211|              M054|               NULL|           18|          NULL|                    172|
|     TX000007|  AC00199|             7.08|2023-02-15 16:36:48|    Credit|      Seattle|D000241|140.212.253.222|              M019|               NULL|           37|          NULL|                    139|
|     TX000008|  AC00069|           171.42|2023-05-08 17:47:59|    Credit| Indianapolis|D000500|  92.214.76.157|              M020|               NULL|           67|          NULL|                    291|
|     TX000009|  AC00135|           106.23|2023-03-21 16:59:46|    Credit|      Detroit|D000690|  24.148.92.177|              M035|               NULL|           51|          NULL|                     86|
|     TX000010|  AC00385|           815.96|2023-03-31 16:06:57|     Debit|    Nashville|D000199|   32.169.88.41|              M007|               NULL|           55|          NULL|                    120|
|     TX000011|  AC00150|            17.78|2023-03-14 16:46:10|    Credit|  Albuquerque|D000205|   213.15.9.253|              M073|               NULL|           52|          NULL|                     59|
|     TX000012|  AC00459|           190.02|2023-02-06 17:30:00|     Debit|      Memphis|D000589| 116.175.11.222|              M030|               NULL|           21|          NULL|                    173|
|     TX000013|  AC00392|           494.52|2023-06-07 17:21:28|    Credit|         Mesa|D000032| 210.98.198.143|              M057|               NULL|           24|          NULL|                    111|
|     TX000014|  AC00264|           781.76|2023-11-20 16:39:15|     Debit|      Memphis|D000054|   193.83.0.183|              M025|               NULL|           26|          NULL|                    123|
|     TX000015|  AC00085|           166.99|2023-02-13 16:53:57|     Debit|   Louisville|D000309| 188.124.181.12|              M017|               NULL|           18|          NULL|                    134|
|     TX000016|  AC00270|           465.45|2023-12-12 16:23:31|     Debit|       Denver|D000466| 221.169.49.152|              M025|               NULL|           36|          NULL|                    129|
|     TX000017|  AC00317|            555.8|2023-10-30 16:52:49|    Credit|       Austin|D000671| 53.218.177.171|              M048|               NULL|           19|          NULL|                    158|
|     TX000018|  AC00359|           492.93|2023-12-14 18:32:14|     Debit|     Columbus|D000432| 114.223.129.47|              M059|               NULL|           39|          NULL|                    234|
|     TX000019|  AC00242|            18.68|2023-02-21 16:56:50|    Credit|  Albuquerque|D000530| 93.218.115.132|              M054|               NULL|           59|          NULL|                    106|
|     TX000020|  AC00285|            71.48|2023-06-08 18:18:50|    Credit|     Columbus|D000039|  120.170.93.69|              M039|               NULL|           18|          NULL|                    169|
+-------------+---------+-----------------+-------------------+----------+-------------+-------+---------------+------------------+-------------------+-------------+--------------+-----------------------+
only showing top 20 rows

In [ ]:
bank_trans.printSchema()

root
 |-- TransactionID: string (nullable = true)
 |-- AccountID: string (nullable = true)
 |-- TransactionAmount: float (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- MerchantID: string (nullable = true)
 |-- Channel: string (nullable = true)
 |-- CustomerAge: string (nullable = true)
 |-- CustomerOccupation: string (nullable = true)
 |-- TransactionDuration: integer (nullable = true)
 |-- LoginAttempts: integer (nullable = true)
 |-- AccountBalance: float (nullable = true)
 |-- PreviousTransactionDate: integer (nullable = true)

In [ ]:
bank_trans.describe().show()

+-------+-------------+---------+------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+
|summary|TransactionID|AccountID| TransactionAmount|IP Address| MerchantID|Channel|   CustomerAge|CustomerOccupation|TransactionDuration|     LoginAttempts|AccountBalance|PreviousTransactionDate|
+-------+-------------+---------+------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+
|  count|         2512|     2512|              2512|      2512|       2512|   2512|          2512|              2512|                  0|              2512|             0|                   2512|
|   mean|         NULL|     NULL| 297.5937778157461|      NULL|       NULL|   NULL|          NULL|              NULL|               NULL|44.673964968152866|          NULL|     119.64331210191082|
| stddev|         NULL|     NULL|291.94624328010104|      NULL|       NULL|   NULL|          NULL|              NULL|               NULL| 17.79219819836649|          NULL|       69.9637569246539|
|    min|     TX000001|  AC00001|              0.26|    Credit|Albuquerque|D000001|  1.198.76.182|              M001|               NULL|                18|          NULL|                     10|
|    max|     TX002512|  AC00500|           1919.11|     Debit| Washington|D000700|99.205.173.118|              M100|               NULL|                80|          NULL|                    300|
+-------+-------------+---------+------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+

In [ ]:
bank_trans = bank_trans.dropna(how = 'all')

In [ ]:
bank_trans.describe().show()

+-------+-------------+---------+------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+
|summary|TransactionID|AccountID| TransactionAmount|IP Address| MerchantID|Channel|   CustomerAge|CustomerOccupation|TransactionDuration|     LoginAttempts|AccountBalance|PreviousTransactionDate|
+-------+-------------+---------+------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+
|  count|         2512|     2512|              2512|      2512|       2512|   2512|          2512|              2512|                  0|              2512|             0|                   2512|
|   mean|         NULL|     NULL| 297.5937778157461|      NULL|       NULL|   NULL|          NULL|              NULL|               NULL|44.673964968152866|          NULL|     119.64331210191082|
| stddev|         NULL|     NULL|291.94624328010104|      NULL|       NULL|   NULL|          NULL|              NULL|               NULL| 17.79219819836649|          NULL|       69.9637569246539|
|    min|     TX000001|  AC00001|              0.26|    Credit|Albuquerque|D000001|  1.198.76.182|              M001|               NULL|                18|          NULL|                     10|
|    max|     TX002512|  AC00500|           1919.11|     Debit| Washington|D000700|99.205.173.118|              M100|               NULL|                80|          NULL|                    300|
+-------+-------------+---------+------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+

In [ ]:
bank_trans.distinct().count()

2512

In [ ]:
# 1. Identify column types:
#    - Manually inspect the schema (bank_trans.printSchema()) and data (bank_trans.show()) to categorize columns.
bank_trans.printSchema()

root
 |-- TransactionID: string (nullable = true)
 |-- AccountID: string (nullable = true)
 |-- TransactionAmount: float (nullable = true)
 |-- TransactionDate: timestamp (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- MerchantID: string (nullable = true)
 |-- Channel: string (nullable = true)
 |-- CustomerAge: string (nullable = true)
 |-- CustomerOccupation: string (nullable = true)
 |-- TransactionDuration: integer (nullable = true)
 |-- LoginAttempts: integer (nullable = true)
 |-- AccountBalance: float (nullable = true)
 |-- PreviousTransactionDate: integer (nullable = true)

In [ ]:
# 2. Create separate lists or dictionaries for each category:
Categorical_col = ['Channel','CustomerOccupation']
ID_col = ['TransactionID','AccountID','MerchantID']
Amoubt_col = ['TransactionAmount','AccountBalance']
Duration_col = ['TransactionDuration','LoginAttempts']
DateTime_col = ['TransactionDate']

In [ ]:

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType
from pyspark.sql.functions import when, mean, lit, col

spark = SparkSession.builder.appName('bank_fraud_detection').getOrCreate()


# Categorize columns (replace with your actual column lists):
categorical_cols = ['Channel', 'CustomerOccupation', 'IP Address']  # Added 'IP Address'
id_cols = ['TransactionID', 'AccountID', 'MerchantID']
numerical_cols = ['TransactionAmount', 'AccountBalance', 'TransactionDuration', 'LoginAttempts']
datetime_cols = ['TransactionDate', 'PreviousTransactionDate']


# Handle missing values (example – customize as needed)
for col_name in categorical_cols:
    # Impute missing categorical values with 'Unknown'
    bank_trans = bank_trans.withColumn(col_name, when(col(col_name).isNull(), 'Unknown').otherwise(col(col_name)))

for col_name in numerical_cols:
    # Calculate the mean for each numerical column
    avg_value = bank_trans.select(mean(col_name)).collect()[0][0]

    # Impute missing numerical values with the column's mean
    bank_trans = bank_trans.withColumn(col_name, when(col(col_name).isNull(), avg_value).otherwise(col(col_name)))

# Note:  'PreviousTransactionDate' is of IntegerType, so a mean will be computed as an integer

for col_name in datetime_cols:

    default_timestamp = '1900-01-01 00:00:00'  # replace with appropriate date
    bank_trans = bank_trans.withColumn(col_name, when(col(col_name).isNull(), default_timestamp).otherwise(col(col_name)))


# Verify the imputation
bank_trans.describe().show()
bank_trans.printSchema()

+-------+-------------+---------+-------------------+-------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+
|summary|TransactionID|AccountID|  TransactionAmount|    TransactionDate|IP Address| MerchantID|Channel|   CustomerAge|CustomerOccupation|TransactionDuration|     LoginAttempts|AccountBalance|PreviousTransactionDate|
+-------+-------------+---------+-------------------+-------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+
|  count|         2512|     2512|               2512|               2512|      2512|       2512|   2512|          2512|              2512|                  0|              2512|             0|                   2512|
|   mean|         NULL|     NULL|  297.5937778157461|               NULL|      NULL|       NULL|   NULL|          NULL|              NULL|               NULL|44.673964968152866|          NULL|     119.64331210191082|
| stddev|         NULL|     NULL| 291.94624328010104|               NULL|      NULL|       NULL|   NULL|          NULL|              NULL|               NULL| 17.79219819836649|          NULL|       69.9637569246539|
|    min|     TX000001|  AC00001|0.25999999046325684|2023-01-02 16:00:06|    Credit|Albuquerque|D000001|  1.198.76.182|              M001|               NULL|              18.0|          NULL|                     10|
|    max|     TX002512|  AC00500| 1919.1099853515625|2024-01-01 18:21:50|     Debit| Washington|D000700|99.205.173.118|              M100|               NULL|              80.0|          NULL|                     99|
+-------+-------------+---------+-------------------+-------------------+----------+-----------+-------+--------------+------------------+-------------------+------------------+--------------+-----------------------+

root
 |-- TransactionID: string (nullable = true)
 |-- AccountID: string (nullable = true)
 |-- TransactionAmount: double (nullable = true)
 |-- TransactionDate: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- MerchantID: string (nullable = true)
 |-- Channel: string (nullable = true)
 |-- CustomerAge: string (nullable = true)
 |-- CustomerOccupation: string (nullable = true)
 |-- TransactionDuration: integer (nullable = true)
 |-- LoginAttempts: double (nullable = true)
 |-- AccountBalance: float (nullable = true)
 |-- PreviousTransactionDate: string (nullable = true)